@model IEnumerable<Profesiones.Models.Profesional>

@{
    ViewData["Title"] = "Profesionales";
}

<h1>Profesionales</h1>
<form asp-action="Index" method="get">

    <div class="form-group row">
        <div class="col-sm-3">
            <a class="btn btn-success" asp-action="Create">Crear nuevo profesional</a>
        </div>
        <div class="col-sm-7">
            <input class="form-control" type="text" name="buscar" placeholder="Introduzca un texto para buscar" />
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-primary" value="Buscar" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
